<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.fundInfo.module.mapper.FundInfoConsoleMapper">

    <insert id="insert" parameterType="com.example.fundInfo.module.entity.FundInfo">
        insert into fund_info (fund_code,fund_name,yield_rate_min,yield_rate_max,invest_term_type,start_buy_money,popularity_value,publish_time_start,publish_time_end,risk_grade,product_specification_url,picture_url,create_time,is_deleted)
        values (#{fundInfo.fundCode},
                #{fundInfo.fundName},
                #{fundInfo.yieldRateMin},
                #{fundInfo.yieldRateMax},
                #{fundInfo.investTermType},
                #{fundInfo.startBuyMoney},
                #{fundInfo.popularityValue},
                #{fundInfo.publishTimeStart},
                #{fundInfo.publishTimeEnd},
                #{fundInfo.riskGrade},
                #{fundInfo.productSpecificationUrl},
                #{fundInfo.pictureUrl},
                #{fundInfo.createTime},
                #{fundInfo.isDelete}
               )
    </insert>

    <update id="update" parameterType="com.example.fundInfo.module.entity.FundInfo">
        update fund_info set fund_code = #{fundInfo.fundCode},
                             fund_name =  #{fundInfo.fundName},
                             yield_rate_min = #{fundInfo.yieldRateMin},
                             yield_rate_max = #{fundInfo.yieldRateMax},
                             invest_term_type = #{fundInfo.investTermType},
                             start_buy_money = #{fundInfo.startBuyMoney},
                             popularity_value = #{fundInfo.popularityValue},
                             publish_time_start = #{fundInfo.publishTimeStart},
                             publish_time_end = #{fundInfo.publishTimeEnd},
                             risk_grade = #{fundInfo.riskGrade},
                             product_specification_url = #{fundInfo.productSpecificationUrl},
                             picture_url = #{fundInfo.pictureUrl},
                             update_time = #{fundInfo.updateTime}
        where id = #{fundInfo.id}
    </update>
</mapper>